body {
    background: url("img/img1.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    font-family: "Segoe UI Symbol", serif;
    color: white;
}
a{
    font-family: "Segoe UI Symbol", serif;
    color: white;
    font-size:25px;
}
/*Top of the site*/
.cont-head {
    background-color: #2C3639;
    text-align: center;
    width: 100%;
    height: 100px;
    border: 0 red;
    opacity: 0.6;
    border-radius: 80px;
    transition: 0.7s;
}

.cont-head:hover {
    text-shadow: 1px 1px 9px white;
    box-shadow: 1px 1px 15px grey;
    opacity: 1
}
/*Apps*/
.cont-bd {
    background-color: #2C3639;
    text-align: center;
    width: 45%;
    height: 400px;
    border: 0 red;
    position: absolute;
    top: 200px;
    opacity: 0.6;
    border-radius: 40px;
    transition: 0.7s;
}

.cont-bd:hover {
    text-shadow: 1px 1px 9px white;
    box-shadow: 1px 1px 15px grey;
    opacity: 1
}

.cont-bd1 {
    background-color: #2C3639;
    text-align: center;
    width: 45%;
    height: 400px;
    border: 0 red;
    position: absolute;
    top: 200px;
    left: 60%;
    opacity: 0.6;
    border-radius: 40px;
    transition: 0.7s;
}

.cont-bd1:hover {
    text-shadow: 1px 1px 9px white;
    box-shadow: 1px 1px 15px grey;
    opacity: 1
}
/*Icons etc.*/
.icon_game_fc {
    border: 0 #2C3639;
    box-radius: 30px;
    border-radius: 9000px;
    width: 150px;
}